<div class="mt-4">
    <h3>Khoá học của tôi</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên khoá</th>
                <th scope="col">Trình độ</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col">Tuỳ chọn</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.time}}</td>
                <td>
                    <a type="button" class="btn btn-link" href="/courses/{{this.slug}}/edit">Sửa</a>
                    <a type="button" class="btn btn-link" href="/courses/{{this.slug}}/delete">Xoá</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>