<div class="mt-4">
    <h3>Đăng Khoá Học</h3>
    <form method="post" action="/courses/store">
        <div class="form-group">
            <label for="name">Tên khoá học</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
            <label for="videoId">Video Id</label>
            <input type="text" class="form-control" id="videoId" name="videoId">
        </div>
        <div class="form-group">
            <label for="level">Trình độ</label>
            <select class="custom-select" required name="level">
                <option name ="Cơ bản">Cơ bản</option>
                <option name ="Trung bình">Trung bình</option>
                <option name ="Nâng cao">Nâng cao</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>